
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="page new">
  <h2>Create Page</h2>

  <%= form_for(:page, :url => {:action => 'create'}) do |f| %>
  
    <table summary="Page form fields">
      <tr>
        <th>Subject ID</th>
        <td><%= f.text_field(:subject_id) %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Permalink</th>
        <td><%= f.text_field(:permalink) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= f.check_box(:visible) %></td>
      </tr>
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Create Page") %>
    </div>
    
  <% end %>
</div>
